@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.smallCaps {
  font-variant: small-caps;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes move-from-right-to-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
span {
  background-color: transparent !important;
}

.move-from-right-to-left {
  animation: move-from-right-to-left 30s linear infinite;
}
.add_content_btn {
  @apply bg-white text-zinc-800 font-bold py-2 px-4 cursor-pointer border-zinc-800 border-2 w-full hover:bg-gray-300 duration-300;
}
.add_image_btn {
  @apply bg-white text-zinc-800 font-bold py-2 px-4 cursor-pointer border-zinc-800 border-2 w-full aspect-square hover:bg-gray-300 duration-300;
}
.icon-link {
  @apply flex flex-row items-center;
}
.icon {
  @apply h-4 w-4 mr-3;
}
.text-square {
  @apply text-justify;
}
